#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  

select{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: lightblue;
}

table{
    border-collapse: collapse;
    thead{
        font-weight: bold;
        background-color: rgb(94, 147, 165);
    }

    td{
        border: 1px solid black;
        padding: 5px;
    }

    tr:nth-child(even){
        background-color: lightblue;
    }
}